@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
  margin: 0px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-size: 64px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
  color: #007765;

  text-align: center;
}

h3 {
  color: #007765;
  font-size: 24px;
}

span {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: black;
}

.main_text p {
  font-size: 32px;
  color: #000000;
  font-weight: normal;
  margin: 1em 22.5% 1em 22.5%;
}

b {
  font-weight: 500;
  color: black;
  font-size: 32px;
}

/* --------------------------header------------------------------ */

.header_inner {
  background-color: #007765;
  height: 84px;
  display: flex;
  justify-content: space-around;
}

.header_logo {
  width: 184px;
  height: 45px;
  padding: 20px 20% 20px 20%;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 15%;
  text-align: center;
}

.nav a {
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
}

.nav a:first-child {
  margin-left: 0px;
}

/* --------------------------Intro------------------------------ */

.Intro {
  box-sizing: border-box;
  width: 100%;
  background-image: url("./images/PiperNet.png");
  background-color: #0e3133;
  background-size: cover;
  background-position: center;

  text-align: center;
  font-size: 72px;

  padding-top: 128px;
  padding-bottom: 128px;
}

/* --------------------------introducing------------------------------ */

.introducing {
  margin-top: 92px;
}

.introducing_image {
  background: url("./images/together.png");
  background-size: cover;
  background-position: center center;

  text-align: center;
  line-height: 56px;

  font-size: 48px;

  padding: 10% 27%;
}

.introducing_quote {
  display: flex;
  justify-content: space-around;
}

.introducing_logo {
  margin-left: 22.5%;
}

.quoter p {
  color: black;
  font-weight: normal;
  font-size: 32px;

  margin-left: 2%;
  margin-right: 30%;
}

/* --------------------------theTeam------------------------------ */

.theTeam {
  margin-top: 92px;
  background: #eeeeee;
  padding-bottom: 5%;
}

.persons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 30% 30px 30%;
}

.personCard {
  margin: 1%;
  text-align: center;
}

/* --------------------------footer------------------------------ */

footer {
  background: #333333;
  padding: 5% 30%;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: normal;

  text-align: center;
}
